<div>
  <nav
    class="navbar bg-body-tertiary"
    style="background-color: #f6f6f6; border-bottom: 1px solid #ddd;"
  >
    <div class="container-fluid">
      <ul class="nav nav-pills" >
        <li class="nav-item">
          <a class="nav-link"  [class.active]="router.url==='/'" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url==='/products'"  routerLink="/products">Rations</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            >Catagories</a
          >
          <ul class="dropdown-menu">
            <li><a  class="dropdown-item" >View Products</a></li>
            <li><a class="dropdown-item" href="#">something else</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [class.active]="router.url==='/products/add-product'"  routerLink="products/add-product">New Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div>
        <h1 class="heading-dual-color"><span>e</span>Ration</h1>
      </div>
    </div>
  </nav>
</div>
