.heading-dual-color span{
    color:#0028c6;

    
}
.customBox{
    background: #ced4da;
    border-radius: 0px 10px 10px 0px;
    animation: myAnim 1s ease 0s 1 normal forwards;
    
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}