<div>
  <nav
    class="navbar bg-body-tertiary"
    style="background-color: #f6f6f6; border-bottom: 1px solid #ddd;"
  >
    <div class="container-fluid">
      <ul class="nav nav-pills" >
        <li class="nav-item">
          <a class="nav-link"  [class.active]="router.url==='/'" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url==='/products'" routerLinkActive #rla="routerLinkActive" routerLink="/products"  [routerLinkActiveOptions]="{ exact: true }">Rations</a>
        </li>
        <div *ngIf="rla.isActive" class="customBox">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              >Catagories</a
            >
            <ul class="dropdown-menu">
              <li *ngFor="let cat of catagories"><a  class="dropdown-item" >{{cat.name}}</a></li>
            </ul>
          </li>
        </div> 
      
        <li class="nav-item" >
          <a class="nav-link"  [class.active]="router.url==='/products/add-product'"  routerLink="products/add-product">New Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[class.active]="router.url==='/products/cart'" routerLink="/products/cart"><i class="bi bi-cart-fill"> Your Cart</i></a>
        </li>
      </ul>
      <div>
        <h1 class="heading-dual-color"><span>e</span>Ration</h1>
      </div>
    </div>
  </nav>
</div>
