<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">product id:{{ id }}</div>
        <h1 class="display-5 fw-bolder">{{ productDetails.name }}</h1>
        <div class="fs-5 mb-5">
          <!-- <span class="text-decoration-line-through">{{productDetails.name}}</span> -->
          <span>${{ productDetails.price }}</span>
        </div>
        <p class="lead">
          {{ productDetails.description }}<br />Lorem ipsum dolor sit amet
          consectetur delectus ipsam minima ea iste laborum vero?
        </p>
        <div class="fs-5 mb-5">
          <!-- <span class="text-decoration-line-through">{{productDetails.name}}</span> -->
          <span>sold by:{{ productDetails.vendorName }}</span>
        </div>
        <div class="d-flex">
          <div *ngIf="productDetails.isAvailable == false; else button">
            <button
              class="btn btn-outline-danger flex-shrink-0"
              type="button"
              disabled
            >
              <i class="bi-cart-fill me-1"></i>
              Sold Out
            </button>
          </div>
          <ng-template #button>
            <input
              class="form-control text-center me-3"
              id="inputQuantity"
              type="num"
              value="1"
              style="max-width: 3rem"
            />
            <div>
              <button class="btn btn-outline-dark flex-shrink-0" type="button">
                <i class="bi-cart-fill me-1"></i>
                Add to cart
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fixed-bottom ">
  <p class=>
    <button
      class="btn btn-secondary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
      *ngIf="!paused; else resumeTpl" (click)="pause()"
    >
      <i class="bi bi-caret-up-fill"></i>
    </button>
    <ng-template #resumeTpl>
        <button
      class="btn btn-secondary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
       (click)="resume()"
    >
      <i class="bi bi-caret-down-fill"></i>
    </button>
      </ng-template>
  </p>
  <div class="collapse col-1" id="collapseExample">
    <div class="card card-body">
        <a routerLink="/products/edit-products/{{ id }}">
    <span class="btn btn-primary">
        <i class="bi bi-pencil">Edit</i></span>
</a>
  </div>
  </div>
</section>
